{% extends 'base.html' %}
  {% block title %}
  Pokemon API Search
  {% endblock %}
{% block content %}
 <h1>Pick A Pokemon</h1>
 <form action="{{url_for ('main.pokemon')}}" method="POST">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" name = "name" class="form-control" id="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--table for pokemon data--> 
    {% if data %}
        <table class="table table-striped table-hover">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Sprite URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">{{data['Name']}}</th>
        <td>{{data['Ability']}}</td>
        <td>{{data['Base Experience']}}</td>
        <td>{{data['Sprite URL']}}</td>
    </tr>
  </tbody>
</table>
    {% endif %}
{% endblock %}

