{% extends 'base.html' %}
{% block title %} Explore {% endblock %}
{% block content %}
    {% for user in users%}
        {% if not user.id==current_user.id %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{user.get_icon_url()}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text">This is where a bio would go</p>
                {% if not current_user.is_following(user) %}
                <a href="#" class="btn btn-info">Follow</a>
                {% else %}
                <a href="#" class="btn btn-info">Unfollow</a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
        {% endif%}
    {% endfor %}
{% endblock %}